@import "tailwindcss";

:root {
	--background: #105693;
	--foreground: #d1d3df;
	--destructive: #7f0808;
	--primary: #006ee3;
	--primary-selected: #007aff;
	--secondary: #ff9500;
	--surface: #f2f2f7;
}

@keyframes fadeBorderIn {
	0% {
		border-bottom-color: transparent;
	}
	100% {
		border-bottom-color: var(--secondary);
	}
}

@keyframes fadeBorderOut {
	0% {
		border-bottom-color: var(--secondary);
	}
	100% {
		border-bottom-color: transparent;
	}
}

.fade-border-in {
	border-bottom: 4px solid var(--secondary);
	animation: fadeBorderIn 0.3s ease-in-out forwards;
}

.fade-border-out {
	border-bottom: 4px solid transparent;
	animation: fadeBorderOut 0.3s ease-in-out forwards;
}

body {
	/* background: white !important; */
	color: var(--foreground);
	/* background: white !important; */
	background: var(--background);
	/* font-family: Arial, Helvetica, sans-serif; */
}
